@import url('https://fonts.googleapis.com/css2?family=Inter&family=League+Spartan:wght@500&family=Martian+Mono&family=Noto+Serif&family=Open+Sans:wght@400;500&family=Playfair+Display:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-color: rgb(115, 115, 115);
        --text-color-hover: rgb(38, 38, 38);
        --fill-color-1: #f5e3e6;
        --fill-color-2: #d9e4f5;
        --fill-color-4: #bedbf241;

        --bg-grad-1: linear-gradient(315deg, var(--fill-color-1) 0%, var(--fill-color-2) 74%);
        --fill-color-3: rgb(255, 255, 255, 0.2);
        --fill-in-1: rgb(200, 200, 200, 0.2);
        --fill-in-2: rgb(125, 125, 125, 0.2);
        --fill-in-3: #5272F2;

        --border-color-1: #ddd;
        --border-color-2: #ccc;
    }

    .theme-dark {
        --text-color: rgb(175, 175, 175);
        --text-color-hover: rgb(255, 255, 255);
        --fill-color-1: #111;
        --fill-color-2: #333;
        --fill-color-4: #2b2b2b;
        --bg-grad-1: linear-gradient(315deg, var(--fill-color-1) 0%, var(--fill-color-2) 74%);;
        --fill-color-3: rgb(55, 65, 81, 0.2);
        --fill-in-1: rgb(100, 100, 100, 0.2);
        --fill-in-2: rgb(10, 10, 10, 0.2);
        --border-color-1: #333;
        --border-color-2: #555;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea:focus, input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #d9e4f5;
}